Set the PySpark enviorment.

In [ ]:
!pip install pyspark py4j

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.appName('DataFrame').getOrCreate()

Inspect CSV file.

In [ ]:
import pandas as pd

df = pd.read_csv('/content/Crime_Data_from_2020_to_Present.csv')
df.head()

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,10304468,01/08/2020 12:00:00 AM,01/08/2020 12:00:00 AM,2230,3,Southwest,377,2,624,BATTERY - SIMPLE ASSAULT,...,AO,Adult Other,624.0,NaN,NaN,NaN,1100 W 39TH PL,NaN,34.0141,-118.2978
1,190101086,01/02/2020 12:00:00 AM,01/01/2020 12:00:00 AM,330,1,Central,163,2,624,BATTERY - SIMPLE ASSAULT,...,IC,Invest Cont,624.0,NaN,NaN,NaN,700 S HILL ST,NaN,34.0459,-118.2545
2,200110444,04/14/2020 12:00:00 AM,02/13/2020 12:00:00 AM,1200,1,Central,155,2,845,SEX OFFENDER REGISTRANT OUT OF COMPLIANCE,...,AA,Adult Arrest,845.0,NaN,NaN,NaN,200 E 6TH ST,NaN,34.0448,-118.2474
3,191501505,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,1730,15,N Hollywood,1543,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),...,IC,Invest Cont,745.0,998.0,NaN,NaN,5400 CORTEEN PL,NaN,34.1685,-118.4019
4,191921269,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,415,19,Mission,1998,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",...,IC,Invest Cont,740.0,NaN,NaN,NaN,14400 TITUS ST,NaN,34.2198,-118.4468

Checking for unique values:

In [ ]:
is_unique = df['DR_NO'].nunique() == len(df['DR_NO'])

if is_unique:
    print("The 'DR_NO' column has unique values.")
else:
    print("The 'DR_NO' column does not have unique values.")

The 'DR_NO' column has unique values.

Use PySpark for DF and JSON file:

In [ ]:
df2 = spark.read.option('header', 'true').csv('Crime_Data_from_2020_to_Present.csv')
df2.show(n = 5, truncate = False)

+---------+----------------------+----------------------+--------+----+-----------+-----------+--------+------+-------------------------------------------------------+--------------+--------+--------+------------+---------+--------------------------------------------+--------------+----------------------------------------------+------+------------+--------+--------+--------+--------+----------------------------------------+------------+-------+---------+
|DR_NO    |Date Rptd             |DATE OCC              |TIME OCC|AREA|AREA NAME  |Rpt Dist No|Part 1-2|Crm Cd|Crm Cd Desc                                            |Mocodes       |Vict Age|Vict Sex|Vict Descent|Premis Cd|Premis Desc                                 |Weapon Used Cd|Weapon Desc                                   |Status|Status Desc |Crm Cd 1|Crm Cd 2|Crm Cd 3|Crm Cd 4|LOCATION                                |Cross Street|LAT    |LON      |
+---------+----------------------+----------------------+--------+----+-----------+-----------+--------+------+-------------------------------------------------------+--------------+--------+--------+------------+---------+--------------------------------------------+--------------+----------------------------------------------+------+------------+--------+--------+--------+--------+----------------------------------------+------------+-------+---------+
|010304468|01/08/2020 12:00:00 AM|01/08/2020 12:00:00 AM|2230    |03  |Southwest  |0377       |2       |624   |BATTERY - SIMPLE ASSAULT                               |0444 0913     |36      |F       |B           |501      |SINGLE FAMILY DWELLING                      |400           |STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)|AO    |Adult Other |624     |null    |null    |null    |1100 W  39TH                         PL |null        |34.0141|-118.2978|
|190101086|01/02/2020 12:00:00 AM|01/01/2020 12:00:00 AM|0330    |01  |Central    |0163       |2       |624   |BATTERY - SIMPLE ASSAULT                               |0416 1822 1414|25      |M       |H           |102      |SIDEWALK                                    |500           |UNKNOWN WEAPON/OTHER WEAPON                   |IC    |Invest Cont |624     |null    |null    |null    |700 S  HILL                         ST  |null        |34.0459|-118.2545|
|200110444|04/14/2020 12:00:00 AM|02/13/2020 12:00:00 AM|1200    |01  |Central    |0155       |2       |845   |SEX OFFENDER REGISTRANT OUT OF COMPLIANCE              |1501          |0       |X       |X           |726      |POLICE FACILITY                             |null          |null                                          |AA    |Adult Arrest|845     |null    |null    |null    |200 E  6TH                          ST  |null        |34.0448|-118.2474|
|191501505|01/01/2020 12:00:00 AM|01/01/2020 12:00:00 AM|1730    |15  |N Hollywood|1543       |2       |745   |VANDALISM - MISDEAMEANOR ($399 OR UNDER)               |0329 1402     |76      |F       |W           |502      |MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)|null          |null                                          |IC    |Invest Cont |745     |998     |null    |null    |5400    CORTEEN                      PL |null        |34.1685|-118.4019|
|191921269|01/01/2020 12:00:00 AM|01/01/2020 12:00:00 AM|0415    |19  |Mission    |1998       |2       |740   |VANDALISM - FELONY ($400 & OVER, ALL CHURCH VANDALISMS)|0329          |31      |X       |X           |409      |BEAUTY SUPPLY STORE                         |null          |null                                          |IC    |Invest Cont |740     |null    |null    |null    |14400    TITUS                        ST|null        |34.2198|-118.4468|
+---------+----------------------+----------------------+--------+----+-----------+-----------+--------+------+-------------------------------------------------------+--------------+--------+--------+------------+---------+--------------------------------------------+--------------+----------------------------------------------+------+------------+--------+--------+--------+--------+----------------------------------------+------------+-------+---------+
only showing top 5 rows

In [ ]:
df3 = spark.read.json('/content/part-00000-be315d42-5965-4c2e-913d-5a016dad2337-c000.json')
df3.show(n = 5, truncate = False)

+----+-----------+------+--------+--------+--------+--------+-------------------------------------------------------+------------+----------------------+---------+----------------------+-------+----------------------------------------+---------+--------------+--------+---------+--------------------------------------------+-----------+------+------------+--------+--------+------------+--------+----------------------------------------------+--------------+
|AREA|AREA NAME  |Crm Cd|Crm Cd 1|Crm Cd 2|Crm Cd 3|Crm Cd 4|Crm Cd Desc                                            |Cross Street|DATE OCC              |DR_NO    |Date Rptd             |LAT    |LOCATION                                |LON      |Mocodes       |Part 1-2|Premis Cd|Premis Desc                                 |Rpt Dist No|Status|Status Desc |TIME OCC|Vict Age|Vict Descent|Vict Sex|Weapon Desc                                   |Weapon Used Cd|
+----+-----------+------+--------+--------+--------+--------+-------------------------------------------------------+------------+----------------------+---------+----------------------+-------+----------------------------------------+---------+--------------+--------+---------+--------------------------------------------+-----------+------+------------+--------+--------+------------+--------+----------------------------------------------+--------------+
|03  |Southwest  |624   |624     |null    |null    |null    |BATTERY - SIMPLE ASSAULT                               |null        |01/08/2020 12:00:00 AM|010304468|01/08/2020 12:00:00 AM|34.0141|1100 W  39TH                         PL |-118.2978|0444 0913     |2       |501      |SINGLE FAMILY DWELLING                      |0377       |AO    |Adult Other |2230    |36      |B           |F       |STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)|400           |
|01  |Central    |624   |624     |null    |null    |null    |BATTERY - SIMPLE ASSAULT                               |null        |01/01/2020 12:00:00 AM|190101086|01/02/2020 12:00:00 AM|34.0459|700 S  HILL                         ST  |-118.2545|0416 1822 1414|2       |102      |SIDEWALK                                    |0163       |IC    |Invest Cont |0330    |25      |H           |M       |UNKNOWN WEAPON/OTHER WEAPON                   |500           |
|01  |Central    |845   |845     |null    |null    |null    |SEX OFFENDER REGISTRANT OUT OF COMPLIANCE              |null        |02/13/2020 12:00:00 AM|200110444|04/14/2020 12:00:00 AM|34.0448|200 E  6TH                          ST  |-118.2474|1501          |2       |726      |POLICE FACILITY                             |0155       |AA    |Adult Arrest|1200    |0       |X           |X       |null                                          |null          |
|15  |N Hollywood|745   |745     |998     |null    |null    |VANDALISM - MISDEAMEANOR ($399 OR UNDER)               |null        |01/01/2020 12:00:00 AM|191501505|01/01/2020 12:00:00 AM|34.1685|5400    CORTEEN                      PL |-118.4019|0329 1402     |2       |502      |MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)|1543       |IC    |Invest Cont |1730    |76      |W           |F       |null                                          |null          |
|19  |Mission    |740   |740     |null    |null    |null    |VANDALISM - FELONY ($400 & OVER, ALL CHURCH VANDALISMS)|null        |01/01/2020 12:00:00 AM|191921269|01/01/2020 12:00:00 AM|34.2198|14400    TITUS                        ST|-118.4468|0329          |2       |409      |BEAUTY SUPPLY STORE                         |1998       |IC    |Invest Cont |0415    |31      |X           |X       |null                                          |null          |
+----+-----------+------+--------+--------+--------+--------+-------------------------------------------------------+------------+----------------------+---------+----------------------+-------+----------------------------------------+---------+--------------+--------+---------+--------------------------------------------+-----------+------+------------+--------+--------+------------+--------+----------------------------------------------+--------------+
only showing top 5 rows